
.card {
  color: deeppink;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 150px;
  text-align: center;
  font-family: fantasy;
  margin: 0px 10px 30px 20px;

 
}

.price {
  color: grey;
  font-size: 22px;

}
.txt{ 
    color: turquoise;
    font-family: fantasy;
 }


